<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef
    and lamb and any topping you want. Place your order now!</p>
<div class="products">
    {{#if chicken}}
        <h2>Chicken Doner</h2>
        {{#each chicken}}
            <div class="product-card"><img src="{{this.imageUrl}}"><a href="placeOrder/{{this._id}}"
                                                                      class="button product-title">Order</a></div>
        {{/each}}
    {{/if}}
    {{#if beef}}
        <h2>Beef Doner</h2>
        {{#each beef}}
            <div class="product-card"><img src="{{this.imageUrl}}"><a href="placeOrder/{{this._id}}"
                                                                      class="button product-title">Order</a></div>
        {{/each}}
    {{/if}}
    {{#if lamb}}
        <h2>Lamb Doner</h2>
        {{#each lamb}}
            <div class="product-card"><img src="{{this.imageUrl}}"><a href="placeOrder/{{this._id}}"
                                                                      class="button product-title">Order</a></div>
        {{/each}}
    {{/if}}
</div>